ip: 192.168.10.40
version: 8.2.1
memory: 2048
cpus: 1
provider: virtualbox
authorize: ~/.ssh/id_rsa.pub
keys:
    - ~/.ssh/id_rsa
folders:
    -
        map: /Users/nurvzy/Websites/ourbakerfamily
        to: /home/vagrant/code
sites:
    -
        map: ourbaker.test
        to: /home/vagrant/code/public
databases:
    - homestead
name: ourbakerfamily
hostname: ourbakerfamily
